<footer class="footer">
  <div class="footer-content">
      <div class="footer-column">
          <h3 class="footer-title">Satria Sudirja</h3>
          <p class="text-gray-400">Web Developer in Laravel, API development, and server management.</p>
          <div class="social-links">
              <a href="https://github.com/satriasudirja" class="social-link">
                  <i class="fab fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/satria-sudirja-73085a229/" class="social-link">
                  <i class="fab fa-linkedin-in"></i>
              </a>
          
              <a href="https://www.instagram.com/satriasdrj_/" class="social-link">
                  <i class="fab fa-instagram"></i>
              </a>
          </div>
      </div>
      
      <div class="footer-column">
          <h3 class="footer-title">Quick Links</h3>
          <div class="footer-links">
              <a href="#home" class="footer-link">Home</a>
              <a href="#skills" class="footer-link">Skills</a>
              <a href="#work" class="footer-link">Work</a>
              <!-- <a href="#certificates" class="footer-link">Certificates</a> -->
              <a href="#contact" class="footer-link">Contact</a>
          </div>
      </div>
      
      <div class="footer-column">
          <h3 class="footer-title">Services</h3>
          <div class="footer-links">
              <a href="#" class="footer-link">Web Development</a>
              <a href="#" class="footer-link">API Development</a>
              <a href="#" class="footer-link">Server Management</a>
              <!-- <a href="#" class="footer-link">Technical Consultation</a> -->
          </div>
      </div>
      
      <div class="footer-column">
          <h3 class="footer-title">Contact Info</h3>
          <div class="footer-links">
              <a href="mailto:satriasadar122@gmail.com" class="footer-link">satriasadar122@gmail.com</a>
              <a href="https://wa.me/6289638796665?text=Halo Satria, saya mengunjungi web Portfoliomu" class="footer-link">+62 896 3879 6665</a>
              <span class="text-gray-400">Bogor, Indonesia</span>
          </div>
      </div>
  </div>
  
  <div class="footer-bottom">
      <a href="#home" class="footer-logo">Satria Sudirja</a>
      <p class="copyright">© 2025 Satria Sudirja. All rights reserved.</p>
  </div>
</footer>